loaders:
  - type: haystack_pydoc_tools.loaders.CustomPythonLoader
    search_path: [../src]
    modules: [
      "haystack_integrations.components.generators.google_vertex.gemini",
      "haystack_integrations.components.generators.google_vertex.captioner",
      "haystack_integrations.components.generators.google_vertex.code_generator",
      "haystack_integrations.components.generators.google_vertex.image_generator",
      "haystack_integrations.components.generators.google_vertex.question_answering",
      "haystack_integrations.components.generators.google_vertex.text_generator",
      "haystack_integrations.components.generators.google_vertex.chat.gemini",
    ]
    ignore_when_discovered: ["__init__"]
processors:
  - type: filter
    expression:
    documented_only: true
    do_not_filter_modules: false
    skip_empty_modules: true
  - type: smart
  - type: crossref
renderer:
  type: haystack_pydoc_tools.renderers.ReadmeIntegrationRenderer
  excerpt: Google Vertex integration for Haystack
  category_slug: integrations-api
  title: Google Vertex
  slug: integrations-google-vertex
  order: 100
  markdown:
    descriptive_class_title: false
    classdef_code_block: false
    descriptive_module_title: true
    add_method_class_prefix: true
    add_member_class_prefix: false
    filename: _readme_google_vertex.md