[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"

[project]
name = "milvus-documentstore"
description = ''
readme = "README.md"
requires-python = ">=3.7"
license = "Apache-2.0"
keywords = []
authors = [
  { name = "deepset GmbH", email = "info@deepset.ai" },
]
classifiers = [
  "Development Status :: 4 - Beta",
  "Programming Language :: Python",
  "Programming Language :: Python :: 3.7",
  "Programming Language :: Python :: 3.8",
  "Programming Language :: Python :: 3.9",
  "Programming Language :: Python :: 3.10",
  "Programming Language :: Python :: 3.11",
  "Programming Language :: Python :: Implementation :: CPython",
  "Programming Language :: Python :: Implementation :: PyPy",
]
dependencies = [
  "pymilvus>=2.0.0,<3",  # Refer to milvus support matrix at https://github.com/milvus-io/pymilvus#install-pymilvus
  "farm-haystack[sql]",
]
dynamic = ["version"]

[project.urls]
Documentation = "https://github.com/unknown/milvus-documentstore#readme"
Issues = "https://github.com/unknown/milvus-documentstore/issues"
Source = "https://github.com/unknown/milvus-documentstore"

[tool.hatch.version]
path = "milvus_documentstore/__about__.py"

[tool.hatch.envs.default]
dependencies = [
  "pytest",
  "pytest-cov",
]
[tool.hatch.envs.default.scripts]
cov = "pytest --cov-report=term-missing --cov-config=pyproject.toml --cov=milvus_documentstore --cov=tests {args}"
no-cov = "cov --no-cov {args}"

[[tool.hatch.envs.test.matrix]]
python = ["37", "38", "39", "310", "311"]

[tool.coverage.run]
branch = true
parallel = true
omit = [
  "milvus_documentstore/__about__.py",
]

[tool.coverage.report]
exclude_lines = [
  "no cov",
  "if __name__ == .__main__.:",
  "if TYPE_CHECKING:",
]
