loaders:
  - type: haystack_pydoc_tools.loaders.CustomPythonLoader
    search_path: [../src]
    modules: [
      "haystack_integrations.document_stores.mongodb_atlas.document_store",
      "haystack_integrations.document_stores.mongodb_atlas.filters",
      "haystack_integrations.components.retrievers.mongodb_atlas.embedding_retriever",
    ]
    ignore_when_discovered: ["__init__"]
processors:
  - type: filter
    expression:
    documented_only: true
    do_not_filter_modules: false
    skip_empty_modules: true
  - type: smart
  - type: crossref
renderer:
  type: haystack_pydoc_tools.renderers.ReadmeIntegrationRenderer
  excerpt: MongoDB Atlas integration for Haystack
  category_slug: integrations-api
  title: MongoDB Atlas
  slug: integrations-mongodb-atlas
  order: 160
  markdown:
    descriptive_class_title: false
    classdef_code_block: false
    descriptive_module_title: true
    add_method_class_prefix: true
    add_member_class_prefix: false
    filename: _readme_mongodb_atlas.md
