name: Test / instructor-embedders

on:
  schedule:
    - cron: "0 0 * * *"
  pull_request:
    paths:
      - "integrations/instructor_embedders/**"
      - ".github/workflows/instructor_embedders.yml"

defaults:
  run:
    working-directory: integrations/instructor_embedders

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Hatch
        run: pip install --upgrade hatch

      - name: Lint
        run: hatch run lint:all

      - name: Generate docs
        if: runner.os == 'Linux'
        run: hatch run docs

      - name: Run tests
        id: tests
        run: hatch run cov

      - name: Nightly - run unit tests with Haystack main branch
        if: github.event_name == 'schedule'
        id: nightly-haystack-main
        run: |
          hatch run pip install git+https://github.com/deepset-ai/haystack.git
          hatch run test -m "not integration"
      
      - name: Send event to Datadog for nightly failures
        if: |
          failure() && github.event_name == 'schedule' && 
          (steps.nightly-haystack-main.conclusion == 'failure' || steps.tests.conclusion == 'failure')
        uses: ./.github/actions/send_failure
        with:
          title: |
            "core-integrations failure: 
            ${{ steps.tests.conclusion == 'failure' ? 'tests' : 'nightly-haystack-main' }} - 
            ${{ github.workflow }}"
          api-key: ${{ secrets.CORE_DATADOG_API_KEY }}
