name: Test / instructor-embedders

on:
  schedule:
    - cron: "0 0 * * *"
  pull_request:
    branch:
      - instructor-embedder-docs
    paths:
      - "integrations/instructor_embedders/**"
      - ".github/workflows/instructor_embedders.yml"

defaults:
  run:
    working-directory: integrations/instructor_embedders

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install Hatch
        run: pip install --upgrade hatch

      - name: Lint
        run: hatch run lint:all

      - name: Generate docs
        if: runner.os == 'Linux'
        run: hatch run docs

      - name: Run tests
        run: hatch run cov
