# This workflow comes from https://github.com/ofek/hatch-mypyc
# https://github.com/ofek/hatch-mypyc/blob/5a198c0ba8660494d02716cfc9d79ce4adfb1442/.github/workflows/test.yml
name: Test / unstructured / fileconverter

on:
  schedule:
    - cron: "0 0 * * *"
  pull_request:
    paths:
      - "integrations/unstructured/fileconverter/**"
      - ".github/workflows/unstructured_fileconverter.yml"

concurrency:
  group: unstructured_fileconverter-${{ github.head_ref }}
  cancel-in-progress: true

env:
  PYTHONUNBUFFERED: "1"
  FORCE_COLOR: "1"

jobs:
  run:
    name: Python ${{ matrix.python-version }} on ${{ startsWith(matrix.os, 'macos-') && 'macOS' || startsWith(matrix.os, 'windows-') && 'Windows' || 'Linux' }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: ["3.8", "3.9", "3.10", "3.11"]
    services:
      unstructured-api:
        image: "quay.io/unstructured-io/unstructured-api:latest"
        ports:
          - 8000:8000
        options: >-
          --health-cmd "curl --fail http://localhost:8000/healthcheck || exit 1"
          --health-interval 10s
          --health-timeout 1s
          --health-retries 10                  

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install Hatch
        run: pip install --upgrade hatch

      - name: Lint
        working-directory: integrations/unstructured/fileconverter
        if: matrix.python-version == '3.9'
        run: hatch run lint:all

      - name: Run tests
        working-directory: integrations/unstructured/fileconverter
        run: hatch run cov
